<% layout('layouts/boilerplate')%>

<div class="row">
  <div class="col-6 ">
    <div class="card">
        <img src="<%= camp.image %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= camp.title %> Campground</h5>
          <p class="card-text"><%= camp.location %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">$ <%= camp.price %>/night </li>
          <li class="list-group-item"><%= camp.description %> </li>
          
        </ul>
        <div class="card-body">
              <form action="/campgrounds/<%= camp._id %>?_method=DELETE" method="POST">
                  <button class="btn btn-danger">Delete Campground</button>
            
              </form>
            <br>
            <a href="/campgrounds"><button class="btn btn-warning">All Campgrounds</button></a>
          
            <a href="/campgrounds/<%= camp._id %>/update"><button class="btn btn-warning"> Update </button></a>

          
        </div>
      </div>

                

               
    </div>
    <div class="col-6">
      <h2 class="form-title">Leave a Review</h2>

      <form action="/campgrounds/<%= camp._id %>/reviews" method="POST" class="mb-3 needs-validation" novalidate >
      
                 
        <div class="mb-3">
      
          <br>
            <label class = "form-label" id = 'rating' for="rating">Rating</label>
            <input class="form-range" type="range" name="review[rating]" min="1" max="5" id="rating">
      
        </div>
      
        <div class="mb-3">
      
          <label for="body">Review</label>
          <textarea class="form-control" name="review[body]" id="body" cols="5" rows="5" required></textarea>       
      
        </div>
        <button class="btn btn-success">Submit</button>
                  
      </form>
      <% for(let review of camp.reviews) {   %>
      <div class="card mb-3 ">
        <div class="card-body">
        
          <h5 class="card-title">Rating : <%= review.rating %></h5>
          <p class="card-title">Review : <%= review.body %></p>
          <form action = "/campgrounds/<%= camp._id %>/reviews/<%= review.id %>?_method=DELETE" method="POST">
            <button class="btn btn-sm btn-danger">Delete Me</button>
          </form>
        </div>       
        <% } %> 
      </div>
    </div>
  


  </div>
      
   
  



    
    
